{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <script
      src="{% static "js/reconnecting-websocket.min.js" %}"
      charset="utf-8"></script>
  </head>
  <body>
    <h1>Customer chats</h1>
    <div id="notification-area"></div>
    <script>

    var chatSocket = new ReconnectingWebSocket(
      'ws://' + window.location.host + '/ws/customer-service/notify/'
    );
    chatSocket.onmessage = function (e) {
        document
            .getElementById("notification-area")
            .innerHTML = "";
        var data = JSON.parse(e.data)
        console.log(data[0])
        var html;
        for (var i = 0; i < data.length; i++) {
          html = '<div><a href="' + data[i]['link'] + '">' + data[i]['text'] +
              '</a></div>';
          document
            .getElementById("notification-area")
            .innerHTML += html;
        }
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
      console.error(e)
    };

    setInterval(function () {
      chatSocket.send(JSON.stringify({'type': 'check'}));
    }, 5000);
    </script>
  </body>
</html>